<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

<style>
<body>{
    text-align: center;
    margin-top: 50px;
    font-size: 5;
    background-color: darkgreen;
}
<h1>{
    text-color: purple;
}
<h5>{
    text-color: black;
    background-color: yellow;
}
input [type ="submit"]{
    background-color: red;
    text-color: black;
    margin: 4px;
}

</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " /><br><br>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p><br><br><br>
    <footer><h5>Created By- Dhriti</h5></footer>
</body>
</html>
